@model IEnumerable<PROYECTOMVC.Models.PROVEEDOR>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOM_PROVEEDOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIR_PROVEEDOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEL_PROVEEDOR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_PROVEEDOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIR_PROVEEDOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEL_PROVEEDOR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DNI_PROVEEDOR }) |
            @Html.ActionLink("Details", "Details", new { id=item.DNI_PROVEEDOR }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DNI_PROVEEDOR })
        </td>
    </tr>
}

</table>
