@model PROYECTOMVC.Models.VENTA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VENTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MEDIO_PAGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEDIO_PAGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO.NOM_PRODUCTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO.NOM_PRODUCTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NUM_VENTA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
